* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  background-color: white;
}

.first-half {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #c299d0;
  width: 100vh;
  height: 100vh;
  flex: 1;
}

.second-half {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  flex-direction: column;
  background-color: #5e057e;
  width: 100vh;
  height: 100vh;
  flex: 2;
  padding-bottom: 20px;
}

#title {
  font-size: 48px;
  font-weight: 700;
  color: #c299d0;
  padding: 0px 40px;
  margin: 0px;
}

.border {
  border: 4px solid #c299d0;
}

button {
  border-radius: 10px;
  border: 2px solid #c299d0;
  background-color: #5e057e;
  color: #c299d0;
  font-weight: 900;
  font-size: 22px;
  padding: 2px 10px;
}

button:hover,
input:hover {
  opacity: 0.1;
}

button:active {
  opacity: 1;
}

.main-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  padding: 20px 0px 20px 20px;
  margin-bottom: 0;
}

.active-options {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

#credit {
  font-size: 22px;
  font-weight: 500;
  color: #c299d0;
}

a {
  text-decoration: none;
  color: #c299d0;
  font-weight: 900;
}

a:hover {
  opacity: 0.1;
}

a:active {
  opacity: 1;
}

#color-picker {
  background-color: #5e057e;
  border: 0;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

h2 {
  margin-bottom: 0;
  color: #5e057e;
}

#grid-size-text {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  color: #c299d0;
}
