body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 720px;
    height: 720px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: 10px solid salmon;
}

.box {
    height: 41px;
    width: 40px;
    border: 2px solid black;
    flex: auto;
    margin: 0;
    padding: 0;
}

.red {
    background-color: red;
}